body {
  margin: 0;
  background: url('./assets/4659.jpg');
  background-size: cover;
  font-family:  'Amatic SC', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
